<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>com.example.lab5_ultimate.command.filter.AuthFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <servlet-name>coffeeServlet</servlet-name>
    </filter-mapping>

    <filter-mapping>
        <filter-name>RegisterFilter</filter-name>
        <url-pattern>/coffee-servlet</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>RegisterFilter</filter-name>
        <filter-class>com.example.lab5_ultimate.command.filter.RegisterFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>LanguageFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>LanguageFilter</filter-name>
        <filter-class>com.example.lab5_ultimate.command.filter.LangFilter</filter-class>
    </filter>

    <error-page>
        <error-code>404</error-code>
        <location>/error/404.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error/500.html</location>
    </error-page>
</web-app>